<div role="listitem" class="toc__group-item{{#if _classes}} {{_classes}}{{/if}}">

  {{#if title}}
  <div class="toc__group-item-title" {{{a11y_attrs_heading}}}>
    <div class="toc__group-item-title-inner">
      {{{title}}}
    </div>
  </div>
  {{/if}}

  {{#if _contentObjects}}
  {{> tocContentObjects _contentObjects}}
  {{/if}}

  {{#if _grouping}}
  {{> tocGroup _grouping}}
  {{/if}}

</div>
