<div class="drawer-menu-inner" role="region" aria-label="{{_globals._menu._drawerMenu.drawerMenu}}" {{#if _globals._menu._drawerMenu.drawerMenu}}tabindex="0"{{/if}}>
    {{> drawerMenuGroup _grouping}}
    <div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{_globals._menu._drawerMenu.drawerMenuEnd}}"/>
</div>
