<div role="region" class="toc__inner" aria-label="{{_globals._extensions._toc.toc}}"{{#if _globals._extensions._toc.toc}} tabindex="0"{{/if}}>
  {{> tocGroup _grouping}}
  <div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{_globals._extensions._toc.tocEnd}}"/>
</div>
